<!DOCTYPE html>

<nav
  class="navbar navbar-expand navbar-dark bg-dark"
  style="background-color: #3141d9 !important"
>
  <a class="navbar-brand" href="/" style="color: white">
    <img
      src="../../static/unbabel-logo2.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
      style="border-radius: 10px"
    />
    Translator
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
